{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <label for="movie_name">Enter a movie name:</label>
        <input type="text" id="movie_name" name="movie-name">
        <button type="submit">Submit</button>
    </form>

    {% if recommended_movies %}
        <h2>Recommended Movies</h2>
        <div class="movie-list">
        {% for recommended_movie in recommended_movies %}
            <img src="https://image.tmdb.org/t/p/w500{{ recommended_movie.poster_path }}"  width="100" height="150">
            <h5>{{ recommended_movie.title }}</h1>
        {% endfor %}
        </div>
    {% endif %}
    {% if recommended_songs %}
    <h2>Recommended Songs</h2>
    <ul>
    {% for recommended_song in recommended_songs %}
        <li>
            <img src="{{ recommended_song.album.images.0.url }}" alt="{{ recommended_song.album.name }}" width="100" height="100">
            {{ recommended_song.name }} - {{ recommended_song.artists.0.name }}
        </li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}